attrs==17.4.0
certifi==2018.1.18
chardet==3.0.4
colorama==0.3.9
ffmpeg-python==0.1.10
future==0.16.0
idna==2.6
numpy==1.22.0
opencv-python==3.4.0.12
Pillow==5.0.0
pluggy==0.6.0
py==1.5.2
pyocr==0.5.1
pytest==3.4.1
requests==2.18.4
six==1.11.0
slacker==0.9.60
stve==0.1.0a0
termcolor==1.1.0
urllib3==1.22
